.footer__column-link {
  display: flex;

  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s ease-in;
  order: 1;
  margin-bottom: 10px;
}

.footer__column-link:hover {
  opacity: 0.5;
}
