.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.feynman__link:hover {
  opacity: 0.5;
}
