body {
  font-family: 'Inter', Arial, sans-serif;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*.header {*/
/*  height: 100vh;*/
/*  min-height: 600px;*/
/*  max-height: 756px;*/
/*  !* выше установили ограничения для секции *!*/
/*}*/

/*!* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента *!*/
/*.header__square-pic {*/
/*  height: 568px;*/
/*  width: 568px;*/
/*}*/

/*!* и элемента с модификатором вида ключ-значение *!*/
/*.table__cell_theme_dark {*/
/*  width: 200px;*/
/*  color: white;*/
/*  margin-right: 0;*/
/*  margin-top: 80px;*/
/*}*/

/*div, p, li, h2, h3 {*/
/*  border: 1px solid red;*/
/*}*/

.description {
  margin: auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__brief_header {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.main-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.main-text__paragraph {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.main-text__paragraph_conclusion {
  margin: 30px auto;
}

.span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}


/*techniques*/

.techniques {
  width: 80%;
  margin: 0 auto;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 20px;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
}

.cards__item {
  display: inline-block;
  width: 240px;
  box-sizing: border-box;
}

.cards__item_central-card {
  margin: 0 100px;
}

.cards__image {
  margin: 60px 40px 43px;
  border-radius: 100px;
}

.cards__item-title {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
}

.cards__description {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
}




